/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #070707;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    position: fixed;
	padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	z-index: 9999;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#info{
	position: absolute;
	z-index: 9999;	
	bottom: 3%;
	right: 2%;
	}
#legenda_continua{
	position: absolute;
	text-align: center;
	padding: 50%;
	vertical-align: center;
}

	
#logo{
	z-index: 9999;
	text-align: center;
	padding: 1%;
	}

#info-map{
	position: absolute;
	z-index: 9999;
	bottom: 3%;
	right: 15%;
	}

#sidebar {
  position: fixed;
  height: auto;
  width: 35%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9999;
  background-color: rgba(0,0,0,0.8);
  left: 1%;
  top:1%;
  bottom:1%;
  transition: all 0.5s;
  overflow-y: hidden;

  
    /*/width: 35%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9997;
    background: rgba(0,0,0,0.8);
    color: #070707;
    
	margin-bottom: 10px;
	border-radius: 2px;
	border-style: solid;
	border-width: 2px;
	border-color: rgba(255,255,255,0.5);
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);/*/
	}
	
#sidebar .sidebar-content{
	position: fixed;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	height: 100%;
	width: 35%;
	overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#sidebar .sidebar-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
#sidebar {
    -ms-overflow-style: none;
}


	
#sidebar.active {
    margin-left: -100%;
	height: 100%;
}

#sidebar .sidebar-header {
    padding: 20px;
	color: #fff;
    background: #262626;
	font-family: 'Poppins', sans-serif;
}

#sidebar .legend_title {
	color: #070707;
	font-size: 1.1em;
	font-family: 'Poppins', sans-serif;
	padding-left: 5%;
}

#sidebar .legend{
	color: #070707;
	font-family: 'Poppins', sans-serif;
}

#sidebar .map2{
	width: auto;
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #070707;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.illustration img {
  width: 100%;
  display: block;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
	z-index:9999;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media all and (min-width: 769px) and (max-width: 1280px)
{
#sidebar {
		margin-left: -500px;
		height: 100%;
    }
    #sidebar.active {
        margin-left: 0px;
		width:50%;
		font-size: 8px;
		height: 100%;
    }
	
	#sidebar.active .sidebar-content {
		width:50%;
		font-size: 8px;
		height: 100%;
    }
	
	.illustration {
		width: 50%;
	}
	
	#sidebar .sidebar-header {
		font-size: 8px;
	}
}	
	
	
	





@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
		height: 100%;
    }
    #sidebar.active {
        margin-left: 0;
		width:100%;
		font-size: 8px;
		height: 100%;
    }
	
	#sidebar.active .sidebar-content {
        margin-left: 0;
		width:100%;
		font-size: 8px;
		height: 100%;
    }
	
    #sidebarCollapse span {
        display: none;
    }
	#info-map span {
		display: none;
	}
	
	.illustration {
		width: 50%;
	}
	
	#sidebar .sidebar-header {
		font-size: 8px;
	}
}